@font-face {
  font-family: 'goaln';
  src:url('../assets/fonts/goaln.eot?2slih2');
  src:url('../assets/fonts/goaln.eot?2slih2#iefix') format('embedded-opentype'),
  url('../assets/fonts/goaln.ttf?2slih2') format('truetype'),
  url('../assets/fonts/goaln.woff?2slih2') format('woff'),
  url('../assets/fonts/goaln.svg?2slih2#goaln') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="gicon-"], [class*=" gicon-"] {
  font-family: 'goaln';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.gicon-notdef:before {
  content: "\e900";
}
.gicon-exclam:before {
  content: "\22";
}
.gicon-quotedbl:before {
  content: "\23";
}
.gicon-numbersign:before {
  content: "\24";
}
.gicon-dollar:before {
  content: "\25";
}
.gicon-percent:before {
  content: "\26";
}
.gicon-ampersand:before {
  content: "\27";
}
.gicon-quotesingle:before {
  content: "\28";
}
.gicon-parenleft:before {
  content: "\29";
}
.gicon-parenright:before {
  content: "\2a";
}
.gicon-asterisk:before {
  content: "\2b";
}
.gicon-plus:before {
  content: "\2c";
}
.gicon-comma:before {
  content: "\2d";
}
.gicon-hyphen:before {
  content: "\2e";
}
.gicon-hyphen2:before {
  content: "\2010";
}
.gicon-period:before {
  content: "\2f";
}
.gicon-slash:before {
  content: "\30";
}
.gicon-zero:before {
  content: "\31";
}
.gicon-one:before {
  content: "\35";
}
.gicon-two:before {
  content: "\37";
}
.gicon-three:before {
  content: "\38";
}
.gicon-four:before {
  content: "\39";
}
.gicon-five:before {
  content: "\3a";
}
.gicon-six:before {
  content: "\3b";
}
.gicon-seven:before {
  content: "\3c";
}
.gicon-eight:before {
  content: "\3d";
}
.gicon-nine:before {
  content: "\3e";
}
.gicon-colon:before {
  content: "\3f";
}
.gicon-semicolon:before {
  content: "\40";
}
.gicon-less:before {
  content: "\47";
}
.gicon-equal:before {
  content: "\49";
}
.gicon-greater:before {
  content: "\4b";
}
.gicon-at:before {
  content: "\4e";
}
.gicon-A:before {
  content: "\4f";
}
.gicon-B:before {
  content: "\50";
}
.gicon-C:before {
  content: "\51";
}
.gicon-D:before {
  content: "\53";
}
.gicon-E:before {
  content: "\55";
}
.gicon-F:before {
  content: "\58";
}
.gicon-G:before {
  content: "\59";
}
.gicon-H:before {
  content: "\5e";
}
.gicon-I:before {
  content: "\5f";
}
.gicon-J:before {
  content: "\60";
}
.gicon-K:before {
  content: "\85";
}
.gicon-L:before {
  content: "\86";
}
.gicon-M:before {
  content: "\87";
}
.gicon-N:before {
  content: "\88";
}
.gicon-O:before {
  content: "\89";
}
.gicon-P:before {
  content: "\8a";
}
.gicon-Q:before {
  content: "\8b";
}
.gicon-R:before {
  content: "\8c";
}
.gicon-S:before {
  content: "\8d";
}
.gicon-T:before {
  content: "\8e";
}
.gicon-U:before {
  content: "\8f";
}
.gicon-V:before {
  content: "\90";
}
.gicon-W:before {
  content: "\91";
}
.gicon-X:before {
  content: "\92";
}
.gicon-Y:before {
  content: "\93";
}
.gicon-Z:before {
  content: "\94";
}
.gicon-bracketleft:before {
  content: "\95";
}
.gicon-bracketright:before {
  content: "\96";
}
.gicon-asciicircum:before {
  content: "\97";
}
.gicon-a:before {
  content: "\98";
}
.gicon-b:before {
  content: "\99";
}
.gicon-c:before {
  content: "\9a";
}
.gicon-d:before {
  content: "\9b";
}
.gicon-e:before {
  content: "\9c";
}
.gicon-f:before {
  content: "\9d";
}
.gicon-g:before {
  content: "\9e";
}
.gicon-h:before {
  content: "\9f";
}
.gicon-i:before {
  content: "\a0";
}
.gicon-j:before {
  content: "\a1";
}
.gicon-k:before {
  content: "\a2";
}
.gicon-l:before {
  content: "\a3";
}
.gicon-m:before {
  content: "\a4";
}
.gicon-n:before {
  content: "\a5";
}
.gicon-o:before {
  content: "\a6";
}
.gicon-p:before {
  content: "\a7";
}
.gicon-q:before {
  content: "\a8";
}
.gicon-r:before {
  content: "\a9";
}
.gicon-s:before {
  content: "\aa";
}
.gicon-t:before {
  content: "\ab";
}
.gicon-u:before {
  content: "\ac";
}
.gicon-v:before {
  content: "\ad";
}
.gicon-w:before {
  content: "\ae";
}
.gicon-x:before {
  content: "\af";
}
.gicon-y:before {
  content: "\b0";
}
.gicon-z:before {
  content: "\b1";
}
.gicon-calango:before {
  content: "\e901";
}
.gicon-exclam2:before {
  content: "\b2";
}
.gicon-quotedbl2:before {
  content: "\b3";
}
.gicon-numbersign2:before {
  content: "\b4";
}
.gicon-dollar2:before {
  content: "\b5";
}
.gicon-percent2:before {
  content: "\b6";
}
.gicon-ampersand2:before {
  content: "\b7";
}
.gicon-quotesingle2:before {
  content: "\b8";
}
.gicon-parenleft2:before {
  content: "\b9";
}
.gicon-parenright2:before {
  content: "\ba";
}
.gicon-asterisk2:before {
  content: "\bb";
}
.gicon-plus2:before {
  content: "\bc";
}
.gicon-comma2:before {
  content: "\bd";
}
.gicon-hyphen3:before {
  content: "\be";
}
.gicon-hyphen4:before {
  content: "\bf";
}
.gicon-period2:before {
  content: "\c0";
}
.gicon-slash2:before {
  content: "\c1";
}
.gicon-zero2:before {
  content: "\c2";
}
.gicon-one2:before {
  content: "\c3";
}
.gicon-two2:before {
  content: "\c5";
}
.gicon-three2:before {
  content: "\c6";
}
.gicon-four2:before {
  content: "\c7";
}
.gicon-five2:before {
  content: "\c8";
}
.gicon-six2:before {
  content: "\c9";
}
.gicon-seven2:before {
  content: "\ca";
}
.gicon-eight2:before {
  content: "\cb";
}
.gicon-nine2:before {
  content: "\cc";
}
.gicon-colon2:before {
  content: "\cd";
}
.gicon-semicolon2:before {
  content: "\ce";
}
.gicon-semicolon3:before {
  content: "\37e";
}
.gicon-less2:before {
  content: "\cf";
}
.gicon-equal2:before {
  content: "\d0";
}
.gicon-greater2:before {
  content: "\d1";
}
.gicon-question:before {
  content: "\d2";
}
.gicon-at2:before {
  content: "\d3";
}
.gicon-A2:before {
  content: "\d4";
}
.gicon-B2:before {
  content: "\d5";
}
.gicon-C2:before {
  content: "\d6";
}
.gicon-D2:before {
  content: "\d7";
}
.gicon-E2:before {
  content: "\d8";
}
.gicon-F2:before {
  content: "\d9";
}
.gicon-G2:before {
  content: "\da";
}
.gicon-H2:before {
  content: "\db";
}
.gicon-I2:before {
  content: "\dc";
}
.gicon-J2:before {
  content: "\dd";
}
.gicon-K2:before {
  content: "\de";
}
.gicon-L2:before {
  content: "\df";
}
.gicon-M2:before {
  content: "\e0";
}
.gicon-N2:before {
  content: "\e1";
}
.gicon-O2:before {
  content: "\e2";
}
.gicon-P2:before {
  content: "\e3";
}
.gicon-Q2:before {
  content: "\e4";
}
.gicon-R2:before {
  content: "\e5";
}
.gicon-S2:before {
  content: "\e6";
}
.gicon-T2:before {
  content: "\e7";
}
.gicon-U2:before {
  content: "\e8";
}
.gicon-V2:before {
  content: "\e9";
}
.gicon-W2:before {
  content: "\ea";
}
.gicon-X2:before {
  content: "\eb";
}
.gicon-Y2:before {
  content: "\ec";
}
.gicon-Z2:before {
  content: "\ed";
}
.gicon-bracketleft2:before {
  content: "\ee";
}
.gicon-a2:before {
  content: "\ef";
}
.gicon-b2:before {
  content: "\f0";
}
.gicon-c2:before {
  content: "\f1";
}
.gicon-d2:before {
  content: "\f2";
}
.gicon-e2:before {
  content: "\f3";
}
.gicon-f2:before {
  content: "\f4";
}
.gicon-g2:before {
  content: "\f5";
}
.gicon-h2:before {
  content: "\f6";
}
.gicon-i2:before {
  content: "\f7";
}
.gicon-j2:before {
  content: "\f8";
}
.gicon-k2:before {
  content: "\f9";
}
.gicon-l2:before {
  content: "\fa";
}
.gicon-m2:before {
  content: "\fb";
}
.gicon-n2:before {
  content: "\fd";
}
.gicon-o2:before {
  content: "\fe";
}
.gicon-p2:before {
  content: "\ff";
}
.gicon-q2:before {
  content: "\100";
}
.gicon-r2:before {
  content: "\101";
}
.gicon-s2:before {
  content: "\102";
}
.gicon-t2:before {
  content: "\103";
}
.gicon-u2:before {
  content: "\104";
}
.gicon-v2:before {
  content: "\105";
}
.gicon-w2:before {
  content: "\106";
}
.gicon-x2:before {
  content: "\107";
}
.gicon-y2:before {
  content: "\108";
}
.gicon-z2:before {
  content: "\109";
}
.gicon-uniF041:before {
  content: "\f041";
}
.gicon-uniF042:before {
  content: "\f042";
}
.gicon-uniF043:before {
  content: "\f043";
}
.gicon-uniF044:before {
  content: "\f044";
}
.gicon-uniF046:before {
  content: "\f046";
}
.gicon-uniF049:before {
  content: "\f049";
}
.gicon-uniF04A:before {
  content: "\f04a";
}
.gicon-uniF04D:before {
  content: "\f04d";
}
.gicon-uniF04E:before {
  content: "\f04e";
}
.gicon-uniF04F:before {
  content: "\f04f";
}
.gicon-uniF050:before {
  content: "\f050";
}
.gicon-uniF051:before {
  content: "\f051";
}
.gicon-uniF052:before {
  content: "\f052";
}
.gicon-uniF053:before {
  content: "\f053";
}
.gicon-uniF054:before {
  content: "\f054";
}
.gicon-uniF055:before {
  content: "\f055";
}
.gicon-uniF056:before {
  content: "\f056";
}
.gicon-uniF05A:before {
  content: "\f05a";
}
.gicon-uni41:before {
  content: "\41";
}
.gicon-uni42:before {
  content: "\42";
}
.gicon-uni43:before {
  content: "\43";
}
.gicon-uni48:before {
  content: "\48";
}
.gicon-uni4C:before {
  content: "\4c";
}
.gicon-uni52:before {
  content: "\52";
}
.gicon-uni54:before {
  content: "\54";
}
.gicon-uni56:before {
  content: "\56";
}
.gicon-uni5A:before {
  content: "\5a";
}
.gicon-uni61:before {
  content: "\61";
}
.gicon-uni62:before {
  content: "\62";
}
.gicon-uni63:before {
  content: "\63";
}
.gicon-uni64:before {
  content: "\64";
}
.gicon-uni65:before {
  content: "\65";
}
.gicon-uni66:before {
  content: "\66";
}
.gicon-uni67:before {
  content: "\67";
}
.gicon-uni68:before {
  content: "\68";
}
.gicon-uni69:before {
  content: "\69";
}
.gicon-uni6A:before {
  content: "\6a";
}
.gicon-uni6B:before {
  content: "\6b";
}
.gicon-uni6C:before {
  content: "\6c";
}
.gicon-uni6D:before {
  content: "\6d";
}
.gicon-uni6E:before {
  content: "\6e";
}
.gicon-uni6F:before {
  content: "\6f";
}
.gicon-uni70:before {
  content: "\70";
}
.gicon-uni71:before {
  content: "\71";
}
.gicon-uni72:before {
  content: "\72";
}
.gicon-uni73:before {
  content: "\73";
}
.gicon-uni74:before {
  content: "\74";
}
.gicon-uni75:before {
  content: "\75";
}
.gicon-uni76:before {
  content: "\76";
}
.gicon-uni77:before {
  content: "\77";
}
.gicon-uni78:before {
  content: "\78";
}
.gicon-uni79:before {
  content: "\79";
}
.gicon-uni7A:before {
  content: "\7a";
}
.gicon-uni25FC:before {
  content: "\25fc";
}
.gicon-uni10A:before {
  content: "\10a";
}
.gicon-uni10B:before {
  content: "\10b";
}
.gicon-uni10C:before {
  content: "\10c";
}
.gicon-uni10D:before {
  content: "\10d";
}
.gicon-uni10E:before {
  content: "\10e";
}
.gicon-uni33:before {
  content: "\33";
}
.gicon-uni10F:before {
  content: "\10f";
}
.gicon-uni5B:before {
  content: "\5b";
}
.gicon-uni7B:before {
  content: "\7b";
}
.gicon-uni7C:before {
  content: "\7c";
}
.gicon-uni110:before {
  content: "\110";
}
.gicon-uni7E:before {
  content: "\7e";
}
.gicon-uni2011:before {
  content: "\2011";
}
.gicon-uni2014:before {
  content: "\2014";
}
.gicon-uni21:before {
  content: "\21";
}
.gicon-uni111:before {
  content: "\111";
}
.gicon-uni112:before {
  content: "\112";
}
.gicon-uni113:before {
  content: "\113";
}
.gicon-uni114:before {
  content: "\114";
}
.gicon-uni115:before {
  content: "\115";
}
.gicon-uni116:before {
  content: "\116";
}
.gicon-uni117:before {
  content: "\117";
}
.gicon-uni118:before {
  content: "\118";
}
.gicon-uni119:before {
  content: "\119";
}
.gicon-uni11A:before {
  content: "\11a";
}
.gicon-uni11B:before {
  content: "\11b";
}
.gicon-uni11C:before {
  content: "\11c";
}
.gicon-uni11D:before {
  content: "\11d";
}
.gicon-uni11E:before {
  content: "\11e";
}
.gicon-uni11F:before {
  content: "\11f";
}
.gicon-uni120:before {
  content: "\120";
}
.gicon-uni32:before {
  content: "\32";
}
.gicon-uni121:before {
  content: "\121";
}
.gicon-uni34:before {
  content: "\34";
}
.gicon-uni122:before {
  content: "\122";
}
.gicon-uni36:before {
  content: "\36";
}
.gicon-uni123:before {
  content: "\123";
}
.gicon-uni124:before {
  content: "\124";
}
.gicon-uni125:before {
  content: "\125";
}
.gicon-uni126:before {
  content: "\126";
}
.gicon-uni127:before {
  content: "\127";
}
.gicon-uni128:before {
  content: "\128";
}
.gicon-uni129:before {
  content: "\129";
}
.gicon-uni12A:before {
  content: "\12a";
}
.gicon-uni12B:before {
  content: "\12b";
}
.gicon-uni12C:before {
  content: "\12c";
}
.gicon-uni12D:before {
  content: "\12d";
}
.gicon-uni44:before {
  content: "\44";
}
.gicon-uni12E:before {
  content: "\12e";
}
.gicon-uni45:before {
  content: "\45";
}
.gicon-uni12F:before {
  content: "\12f";
}
.gicon-uni46:before {
  content: "\46";
}
.gicon-uni130:before {
  content: "\130";
}
.gicon-uni131:before {
  content: "\131";
}
.gicon-uni132:before {
  content: "\132";
}
.gicon-uni4A:before {
  content: "\4a";
}
.gicon-uni133:before {
  content: "\133";
}
.gicon-uni4D:before {
  content: "\4d";
}
.gicon-uni134:before {
  content: "\134";
}
.gicon-uni135:before {
  content: "\135";
}
.gicon-uni136:before {
  content: "\136";
}
.gicon-uni137:before {
  content: "\137";
}
.gicon-uni138:before {
  content: "\138";
}
.gicon-uni139:before {
  content: "\139";
}
.gicon-uni13A:before {
  content: "\13a";
}
.gicon-uni13B:before {
  content: "\13b";
}
.gicon-uni13C:before {
  content: "\13c";
}
.gicon-uni57:before {
  content: "\57";
}
.gicon-uni13D:before {
  content: "\13d";
}
.gicon-uni13E:before {
  content: "\13e";
}
.gicon-uni13F:before {
  content: "\13f";
}
.gicon-uni5C:before {
  content: "\5c";
}
.gicon-uni140:before {
  content: "\140";
}
.gicon-uni141:before {
  content: "\141";
}
.gicon-uni5D:before {
  content: "\5d";
}
.gicon-uni142:before {
  content: "\142";
}
.gicon-uni143:before {
  content: "\143";
}
.gicon-uni144:before {
  content: "\144";
}
.gicon-uni145:before {
  content: "\145";
}
.gicon-uni146:before {
  content: "\146";
}
.gicon-uni147:before {
  content: "\147";
}
.gicon-uni7D:before {
  content: "\7d";
}
.gicon-uni148:before {
  content: "\148";
}
.gicon-uni149:before {
  content: "\149";
}
.gicon-uni14A:before {
  content: "\14a";
}
.gicon-uni7F:before {
  content: "\7f";
}
.gicon-uni80:before {
  content: "\80";
}
.gicon-uni81:before {
  content: "\81";
}
.gicon-uni14B:before {
  content: "\14b";
}
.gicon-uni82:before {
  content: "\82";
}
.gicon-uni14C:before {
  content: "\14c";
}
.gicon-uni14D:before {
  content: "\14d";
}
.gicon-uni14E:before {
  content: "\14e";
}
.gicon-uni14F:before {
  content: "\14f";
}
.gicon-uni150:before {
  content: "\150";
}
.gicon-uni83:before {
  content: "\83";
}
.gicon-uni151:before {
  content: "\151";
}
.gicon-uni152:before {
  content: "\152";
}
.gicon-uni153:before {
  content: "\153";
}
.gicon-uni154:before {
  content: "\154";
}
.gicon-uni155:before {
  content: "\155";
}
.gicon-uni156:before {
  content: "\156";
}
.gicon-uni157:before {
  content: "\157";
}
.gicon-uni158:before {
  content: "\158";
}
.gicon-uni159:before {
  content: "\159";
}
.gicon-uni84:before {
  content: "\84";
}
.gicon-uni15A:before {
  content: "\15a";
}
.gicon-uni15B:before {
  content: "\15b";
}
.gicon-uni15C:before {
  content: "\15c";
}
.gicon-uni15D:before {
  content: "\15d";
}
.gicon-uniC4:before {
  content: "\c4";
}
.gicon-uni15E:before {
  content: "\15e";
}
.gicon-uni15F:before {
  content: "\15f";
}
.gicon-uni160:before {
  content: "\160";
}
.gicon-uni161:before {
  content: "\161";
}
.gicon-uni162:before {
  content: "\162";
}
.gicon-uni163:before {
  content: "\163";
}
.gicon-uni164:before {
  content: "\164";
}
.gicon-uniFC:before {
  content: "\fc";
}
.gicon-uni2012:before {
  content: "\2012";
}
.gicon-uni2013:before {
  content: "\2013";
}
.gicon-uni2015:before {
  content: "\2015";
}
.gicon-uni2016:before {
  content: "\2016";
}
.gicon-uni2017:before {
  content: "\2017";
}