.contact {
  .form-group {

    .error {
      color: $brand-danger;
      opacity:0;
      transition: opacity 0.6s ease;
    }
    &.has-error {
      .error {
        opacity:1;
      }
    }


  }
}