<p class="mb20" ng-bind-html="user.description"></p>
<h2>תצפיות</h2>

<items-gallery items="items"></items-gallery>

<div class="tac clear" ng-show="items.length && pagOptions.totalItems > pagOptions.perPage">
    <uib-pagination total-items="pagOptions.totalItems" items-per-page="pagOptions.perPage" ng-model="pagOptions.currentPage" max-size="5" ng-change="pagOptions.pageChanged()" class="pagination-sm" boundary-links="false" next-text="הבא" previous-text="הקודם"></uib-pagination>
</div>