<div class="news-single container-fluid">
    <div class="col-md-8 col-md-push-2">
        <div class="page-header">
            <h1>
                <span>עידכון: </span>
                <span>{{item.headline}}</span>
                <a ui-sref="news.list" class="pull-left index">כל החדשות</a>
            </h1>


        </div>

        <div class="content">
            <div class="news">
                <p ng-if="item.updated_at">פורסם בתאריך: {{item.updated_at | badDateToISO | date : 'd/MM/yyyy'}}</p>
                <div ng-bind-html="item.short"></div>
                <div ng-bind-html="item.content"></div>
            </div>
        </div>
    </div>
</div>