<div class="gallery col-md-12">

    <div class="row">
        <div class="item" ng-repeat="animal in items" ui-sref="obs.single({id: animal.id})">

            <div class="item-media media-object" item="animal" size="medium"></div>

            <div class="info">
                <a ui-sref="obs.single({id: animal.id})">{{ animal.ccInfo.name}}</a>
            </div>
        </div>

    </div>

</div>