<div class="relative species">
    <div class="row">
        <div class="col-md-10 input-holder">
            <input type="text"
               ng-model="innerModel"
               uib-typeahead="user for users in auto.searchUsers($viewValue)"
               typeahead-loading="auto.loadingTaxas"
               typeahead-no-results="noTaxasResults"
               typeahead-template-url="userAutoComplete.html"
               typeahead-min-length="2"
               typeahead-on-select="auto.set($item)"
               placeholder="{{auto.placeholder}}"
               ng-focus="auto.onfocus()"
               class="form-control"
            >

            <i class="fa fa-times pointer clear" ng-click="auto.clear()" ng-show="auto.showClear"></i>
        </div>
        <div class="col-md-2 nowrap info">
            <span ng-show="auto.loadingTaxas"><i class="fa fa-spinner fa-spin"></i></span>
            <div ng-show="noTaxasResults">אין תוצאות</div>
        </div>
</div>



<script type="text/ng-template" id="userAutoComplete.html">
    <div class="media pointer">
        <div class="media-left">
            <img class="media-object" actual-src="{{match.model.User.icon}}" ng-src='assets/images/person.png' alt="">
        </div>
        <div class="media-body">
            <h5 class="media-heading" ng-if="match.model.User.name" ng-bind-html="match.model.User.name | uibTypeaheadHighlight:query"></h5>
            <h5 class="media-heading" ng-bind-html="match.model.User.login | uibTypeaheadHighlight:query"></h5>
        </div>
    </div>
</script>