<div class="links">
    <div ng-bind-html="text"></div>
    <ul class="links-list mt20">
        <li ng-repeat="link in items" class="mb20">
            <a ng-href="{{link.url}}" target="_blank">{{link.title}}</a>
        </li>
    </ul>
</div>