<div ng-style="mapHeight">

    <header class="hide">
        <div class="btn-group btn-group-justified" role="group" aria-label="Justified button group">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">חיפוש מתקדם<i class="fa fa-chevron-down"></i></button>
            </div>
        </div>
    </header>

    <perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="5" min-scrollbar-length="20">
        <items-list items="items" toggle="showItem(index, true)" active-item="activeItem"></items-list>
        <div ng-show="!items.length && !loadingItems" class="col-md-12 no-results">
            <h3>לא נמצאו תוצאות</h3>
            <p>שנו את מרכיבי החיפוש</p>
        </div>
    </perfect-scrollbar>

    <footer>
        <uib-pagination total-items="totalItems" items-per-page="perPage" ng-model="currentPage" max-size="5" ng-change="pageChanged(currentPage)" class="pagination-sm" boundary-links="false" next-text="הבא" previous-text="הקודם"></uib-pagination>
    </footer>

</div>