$brand-primary:         #0093DB;
$brand-secondary:       #495763;
$brand-success:         #5cb85c !default;
$brand-info:            #5bc0de !default;
$brand-warning:         #f0ad4e !default;
$brand-danger:          #d9534f !default;

$main-bg :              #E6EBEE;


body {
  background-color: $main-bg;
  padding-top: 50px;

}

.btn-primary {
  background-color: $brand-primary;
  border-color: $brand-primary;
  &:hover {
    background-color: $brand-primary;
  }
}

.navbar-inverse {
  background: #495763;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
}

/*  Some Globals */
.tac {text-align: center;}
.tal {text-align: left;}
.tar {text-align: right;}

.mt5 {margin-top: 5px;}
.mt10 {margin-top: 10px;}
.mt15 {margin-top: 15px;}
.mt20 {margin-top: 20px;}
.mt30 {margin-top: 30px;}
.mt40 {margin-top: 40px;}

.mb5  {margin-bottom: 5px;}
.mb10  {margin-bottom: 10px;}
.mb15  {margin-bottom: 15px;}
.mb20  {margin-bottom: 20px;}
.mb30  {margin-bottom: 30px;}
.mb40  {margin-bottom: 40px;}

.no-padding {
  padding: 0;
}

.relative { position: relative;}
.inline {
  display: inline-block;
}
.pointer {
  cursor: pointer;
}

.float-left {
  float: left;
}
.float-right {
  float: right;
}

.modal {
  .modal-dialog {
    .modal-content {
      .modal-header {
        .close {
          float: left;
        }
      }
    }
  }
}